head{ 
  background-color: rgb(73, 250, 241);
  margin: 10px;
  height: 20px;

}

body{
  margin:0;
  padding:10px;
}
Header{
  background-image: url("/images/lgt.jpg");
  height: 50px;
  padding: 20px;
  padding-bottom: 20 px;
}
article{
  background-color: #add1b9;
  width: 60vw;
  margin: 0 auto;
}
nav{
  float: left;
  width: 20vw;
  background-color: #e4dac5; 
}
footer{
  background-color: mediumaquamarine
}