head{ 
  margin: 10px;
  height: 20px;
}

body{
  padding:10px;
  text-align: center; 
}

Header{
  background-image: url("/images/classroom.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  padding-bottom: 20px;
}

div{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0%;
  }

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: lightcyan;
}

.container{
  vertical-align: middle;
  transform: translate(0, 200%) 
}

article1{
  background-color:lightcyan; 
}

thead,
tbody {
  background-color:lightcyan;
}

table, th, td{
  border: 1px solid black;
  text-align: left;
}

.about{
  border: 4px solid powderblue; 
  text-align: left;
  margin-left: center;
}

legend{
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

input{
  margin: .4rem;
}

.center{
  text-align: middle;
  list-style-position: inside;
}

.navigatie{
  width: 20%;
  position: fixed;
  left: 0;
  padding-top: 8px;
}

.navigatie a{
  text-decoration: none;
  font-size: 25px;
  display: block;
  left: 0;
}